.stage {
  border: solid #000 1px;
  padding: 1em;
}

.stage__duration {
}

.stage__steps-list {
  align-items: stretch;

  display: grid;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  justify-items: stretch;
  list-style: none;
  padding: 0.5em 0 0;
}

.stage__steps-item {
}
