.step {
  border: solid black 1px;
  padding: 0.5em;

  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.step__name {
  margin: 0;
}

.step__namespace {
  margin: 0;
}

.step__env-list {
}

.step__env-item {
}
